.sponsor_section {
  background-color: #bebebe;
  display: block;
  
}
 
.sponsor_logo {
  margin-bottom: 80px;
  margin-top: 80px;
 
 img {
  padding-right: 50px;
 }

 }

 .canon {
   padding-bottom: 10px;
 }

 .nikon {
  padding-bottom: 8px;
 }

 .prolight {
  padding-bottom: 6px;
 }





